<p>
    {% trans %}email.show-id{% endtrans %}
</p>

<p>
    {{ ('email.travel-certificate-'~type)|trans }}
</p>

<p>
    {% trans %}email.travel-certificate-link{% endtrans %}
</p>

<p>
    {% trans %}email.other-things{% endtrans %}
</p>

<ul>
    <li>
        {% trans %}email.please-reply{% endtrans %}
    </li>

    <li>
        {% trans %}email.no-match{% endtrans %}
    </li>
</ul>

<p>
    {% trans %}email.healthy-carriers{% endtrans %}
</p>

<p>
    {% trans %}email.reminders{% endtrans %}
</p>

<ul>
    <li>
        {% trans %}email.wash-hands{% endtrans %}
    </li>
    <li>
        {% trans %}email.cough-elbow{% endtrans %}
    </li>
    <li>
        {% trans %}email.no-shaking-hands{% endtrans %}
    </li>
    <li>
        {% trans %}email.use-tissues{% endtrans %}
    </li>
    <li>
        {% trans %}email.avoid-gatherings{% endtrans %}
    </li>
</ul>
