{% extends 'base.html.twig' %}

{% block metas %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block body %}
    <div class="container mt-5 pt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-6 col-xl-4">
                <h1 class="h3 mb-3 font-weight-bold">
                    {% trans %}admin.login{% endtrans %}
                </h1>

                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="mb-3">
                        <label for="inputUsername">{% trans %}admin.username{% endtrans %}</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                    </div>

                    <div class="mb-3">
                        <label for="inputPassword">{% trans %}admin.password{% endtrans %}</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-lg btn-primary" type="submit">
                        {% trans %}admin.login{% endtrans %}
                    </button>
                    <a href="{{ path('homepage') }}" class="btn btn-lg btn-link">
                        {% trans %}admin.return{% endtrans %}
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
