<p>
    Bonjour {{ helper.firstName }},
</p>

<p>
    Vous êtes nombreux à vous être inscrits sur la plateforme enpremiereligne.fr, MERCI pour votre engagement !
</p>

<p>
    Devant votre élan de solidarité, nous avons décidé de vous proposer des missions, au sein de structures
    associatives qui ont besoin de renforts. Votre inscription reste valable et si une mise en relation pouvait
    se faire, nous vous mettrons en relation !
</p>

<p>
    Aujourd’hui, nous vous présentons une possibilité au sein de l’association Entourage, pour aider des personnes
    sans domicile, en leur passant un coup de fil régulièrement.
</p>

<p>
    <a href="https://www.entourage.social/mission-et-valeurs/" target="_blank">Entourage</a>
    a pour vocation de redonner un réseau à ceux qui n’ont plus de réseau. Elle intervient pour des
    missions de solidarité auprès des personnes sans domicile fixe et des grands exclus.
</p>

<p>
    Concrètement, l’association recherche des volontaires pour 2 missions pour leur opération
    <a href="https://blog.entourage.social/2020/03/22/les-bonnes-ondes/" target="_blank">“Les Bonnes Ondes”</a>,
    qui consiste à diffuser et de recevoir de la chaleur humaine, avec un coup de téléphone ! Vous allez pouvoir
    tisser une chaîne solidaire autour de ces personnes en les appelant régulièrement, pour les aider, à votre
    mesure, à garder le moral. Vous pouvez :
</p>

<ul>
    <li>
        Devenir un “super-héros du téléphone” pour appeler régulièrement des personnes en précarité heureuses de
        se changer les idées. En petits groupes de voisins, coordonnés et soutenus par un bénévole, vous formerez
        une joyeuse bande pour entourer une personne isolée, à tour de rôle.
        Temps estimé : 1h / semaine
        <br />
        <a href="https://entourage-asso.typeform.com/to/JhTFuL" target="_blank">Lien d'inscription Mission 1</a>
        <br />
        <br />
    </li>

    <li>
        Deuxième mission, si vous vous sentez l’âme d’un chef de bande, vous pouvez coordonner un petit groupe
        de 2-3 voisins « entoureurs » dont leur action va être d’appeler régulièrement, par téléphone, des
        personnes en situation de précarité, heureuses de se changer les idées. Votre mission, c’est d’être
        le/la garant.e de l’entourage qui se constitue autour de la personne isolée tout en participant à la
        chaîne d’appels.
        Temps estimé : 2h / semaine
        <br />
        <a href="https://entourage-asso.typeform.com/to/goTJ44" target="_blank">Lien d'inscription Mission 2</a>
    </li>
</ul>

<p>
    Merci pour votre solidarité,
</p>

<p>
    L'équipe d’En Première Ligne
</p>
