{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                Conditions d'utilisation
            </h3>

            <div class="process-details">
                <h4 class="font-weight-bold">
                    Définitions
                </h4>

                <p>
                    Les termes utilisés ont la définition suivante :
                </p>

                <ul>
                    <li>
                        Le Site : désigne le site internet accessible à l'adresse URL de la présente politique ;
                    </li>
                    <li>
                        L'Editeur : désigne l'organisation responsable du Site, telle que définie dans les Mentions Légales
                        accessibles sur le Site ;
                    </li>
                    <li>
                        Visiteur : désigne toute personne qui navigue et utilise le Site ;
                    </li>
                    <li>
                        « Conditions Générales d’Utilisation » et « CGU » : termes désignant les présentes, y incluant la
                        Politique de Protection des données accessible sur le Site.
                    </li>
                </ul>

                <h4 class="font-weight-bold mt-4">
                    Article 1. Objet
                </h4>

                <p>
                    Les présentes Conditions Générales d’Utilisation (ci-après « les CGU ») déterminent les règles
                    d’accès, les modalités d’utilisation des services du Site, ainsi que les droits et responsabilités
                    applicables à tout Visiteur du Site. Les CGU sont librement accessibles et consultables par toute
                    personne naviguant/utilisant le Site.
                </p>

                <p>
                    Les CGU doivent être acceptées sans réserve et dans leur intégralité par toute personne souhaitant
                    accéder, naviguer et utiliser le Site. Elles constituent le contrat entre l’Editeur et tout Visiteur
                    du Site.
                </p>

                <p>
                    Il est recommandé aux visiteurs d’imprimer une copie des CGU et de les consulter régulièrement.
                </p>

                <h4 class="font-weight-bold mt-4">
                    Article 2. Description des services fournis
                </h4>

                <p>
                    Le Site a pour objet de mettre en relation des personnes à des visées d'entraide.
                </p>

                <h4 class="font-weight-bold mt-4">
                    Article 3. Accès au service
                </h4>

                <p>
                    Le Site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de
                    maintenance technique peut être toutefois décidée par l'Editeur, qui s’efforcera alors de
                    communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
                </p>

                <p>
                    Pour accéder au Site, le Visiteur doit être muni d’un matériel informatique personnel vierge de tout
                    virus, cheval de Troie, bombe logique, ver informatique et de tout autre programme indésirable
                    susceptible de perturber le fonctionnement et l’utilisation du Site et/ou la navigation sur le Site.
                </p>

                <p>
                    Le Visiteur s’engage à mettre à jour régulièrement ses équipements, matériels et logiciels et
                    connexions nécessaires au fonctionnement normal du Site.
                </p>

                <h4 class="font-weight-bold mt-4">
                    Article 4. Limitations de responsabilité
                </h4>

                <p>
                    L'Editeur s’efforce de fournir sur le Site des informations aussi précises que possible. Toutefois,
                    elle ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise
                    à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces
                    informations.
                </p>

                <p>
                    Toutes les informations indiquées sur le Site sont données à titre indicatif, et sont susceptibles
                    d’évoluer. Par ailleurs, les renseignements figurant sur le Site ne sont pas exhaustifs. Ils sont
                    donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.
                </p>

                <p>
                    L'Editeur est un tiers aux correspondances et relations entre les Demandeurs et les
                    Volontaires, et exclut de ce fait toute responsabilité à cet égard.
                </p>

                <p>
                    L'Editeur ne saurait en aucun cas être tenue responsable des conséquences liées à la
                    mise en relations des Demandeurs et des Volontaires et ne donne aucune garantie, expresse
                    ou implicite, à cet égard.
                </p>

                <p>
                    Les Personnes mises en relation sont seules responsables des discussions et entraides
                    réalisées et de leurs conséquences.
                </p>

                <h4 class="font-weight-bold mt-4">
                    Article 5. Limitations contractuelles sur les données techniques
                </h4>

                <p>
                    L'Editeur et le directeur de publication ne peuvent être tenus responsables des dommages directs et
                    indirects causés au matériel de l’utilisateur lors de l’accès au Site. Toute forme de garantie est
                    donc exclue en cas de dommage.
                </p>

                <p>
                    Dans la mesure ou des espaces interactifs pourraient être mis à la disposition des utilisateurs, le
                    directeur de publication se réserve le droit de supprimer, sans mise en demeure préalable, tout
                    contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en
                    particulier aux dispositions relatives à la protection des données. Le cas échéant, le directeur de
                    publication se réserve également la possibilité de mettre en cause la responsabilité civile et/ou
                    pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou
                    pornographique, quel que soit le support utilisé (texte, photographie, vidéo, …).
                </p>

                <h4 class="font-weight-bold mt-4">
                    Article 6. Propriété intellectuelle et contrefaçons
                </h4>

                <p>
                    L'Editeur est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur
                    tous les éléments accessibles sur le site.
                </p>

                <p>
                    Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des
                    éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation
                    écrite préalable du directeur de publication.
                </p>

                <p>
                    Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera
                    considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des
                    articles L.335-2 et suivants du code de propriété intellectuelle.
                </p>

                <h4 class="font-weight-bold mt-4">
                    Article 7. Nullité
                </h4>

                <p>
                    Si une ou plusieurs clauses des présentes CGU étaient déclarées nulles ou invalides en application
                    d’une loi, d’un règlement ou à la suite d’une décision définitive d’une juridiction compétente, les
                    autres articles/clauses garderont toute leur force et toute leur portée.
                </p>

                <h4 class="font-weight-bold mt-4">
                    Article 8. Modification des CGU
                </h4>

                <p>
                    L'Editeur se réserve le droit d’apporter tout changement et corrections/évolutions aux présentes
                    CGU. Les nouvelles CGU annuleront et remplaceront toutes les Conditions Générales d’Utilisation
                    antérieures.
                </p>

                <h4 class="font-weight-bold mt-4">
                    Article 8. Durée
                </h4>

                <p>
                    Les CGU s’appliquent dès la première connexion au Site et lors de son utilisation. La durée des
                    présentes CGU est indéterminée.
                </p>

                <h4 class="font-weight-bold mt-4">
                    Article 9. Loi applicable
                </h4>

                <p>
                    Les présentes CGU sont régies par le droit français. Seule la version française fera foi. Les
                    éventuelles traductions des présentes CGU sont uniquement fournies par commodité.
                </p>

                <p>
                    Tout litige survenant à l’occasion de l’utilisation du Site, ou de l’application et de
                    l’interprétation des présentes Conditions Générales d’Utilisation ou du soutien de la Tribune, ses
                    conséquences, et ses suites sont soumis à la loi française et à la compétence des juridictions
                    françaises.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
