{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                Comment ca marche ?
            </h3>

            <div class="process-details">
                <p>
                    Vous allez remplir un questionnaire, différent selon si vous souhaitez aider ou
                    avez besoin d'aide.
                </p>

                <p>
                    Vous inscrirez votre code postal, vous pourrez choisir si vous voulez être aidé par
                    une famille, etc. Ensuite, vous allez être mis en relation sur la base de votre code
                    postal et de vos critères, par le biais d'un email envoyé à vous et à l'autre personne.
                </p>

                <p>
                    À partir de là c'est à vous de jouer.
                </p>

                <p>
                    Vous vous rencontrez une première fois pour vous connaître, et si vous décidez de
                    vous entraider, alors vous validez dans le mail reçu que vous n'avez plus besoin des
                    services de la plateforme, et vos données sont effacées automatiquement. Si vous
                    oubliez de nous l'indiquer, vos données seront de toute façon effacées au bout d'un mois.
                </p>

                <p>
                    Nous limitons l'inscription des personnes offrant leur aide aux 18-60 ans en bonne
                    santé, mais chacun doit s'assurer qu'il réunit les conditions pour s'engager avant
                    de s'inscrire.
                </p>

                <h5 class="font-weight-bold mt-5">
                    Qui peut aider ?
                </h5>

                <p>
                    Tout le monde peut aider (si vous avez entre 18 et 60 ans et que vous ne faites pas
                    partie des publics à risque :
                    <a href="https://solidarites-sante.gouv.fr/actualites/actualites-du-ministere/article/coronavirus-qui-sont-les-personnes-fragiles">vérifier si vous faites partie des publics à risque sur le site du ministère de la Santé</a>) !
                </p>

                <p>
                    Si vous êtes en arrêt exceptionnel pour garder vos enfants, ou si vous êtes
                    disponibles pour d'autres raisons et que vous avez la volonté de vous engager
                    dans la lutte contre l'épidémie, vous pouvez vous inscrire !
                </p>

                <h5 class="font-weight-bold mt-5">
                    Qui peut bénéficier de l'aide ?
                </h5>

                <p>
                    Aujourd'hui, nous focalisons notre aide sur la première ligne de la lutte contre le virus.
                </p>

                <p>
                    Ce sont les soignants, pharmaciens, membres des services d'urgence, aide à domicile pour
                    handicapés ou personnes âgées, personnes assurant l'approvisionnement en médicaments,
                    nourriture, énergie, et tant d'autres professions…
                </p>

                <p>
                    Vous vous reconnaitrez, nous vous faisons confiance. Nous savons qu'une personne n'ayant
                    pas besoin du service car son activité professionnelle ne sauve pas des vies ou ne permet
                    pas d'assurer les fonctions vitales minimums du pays ne s'inscrira pas. Chacun est
                    responsable, et nous croyons en chacun d'entre nous pour vaincre cette épidémie.
                </p>

                <p>
                    Demain, selon l'évolution de la situation, nous pourrons ouvrir notre service à
                    d'autres personnes. Nous adapterons notre plateforme au mieux, chaque jour, afin
                    de faire face ensemble à cette crise sans précédent.
                </p>

                <h5 class="font-weight-bold mt-5">
                    Combien ça coûte ?
                </h5>

                <p>
                    En Première Ligne est un réseau d'entraide complètement gratuit. C'est en nous soutenant
                    tous ensemble mutuellement que nous vaincrons le virus.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
