{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                Mentions légales
            </h3>

            <div class="process-details">
                <h5 class="font-weight-bold">
                    Editeur
                </h5>

                <p>
                    Titouan Galopin (Cité Politique : <a href="https://citepolitique.fr">citepolitique.fr</a>)
                    <br />
                    Contact : <a href="mailto:titouan.galopin@citepolitique.fr">titouan.galopin@citepolitique.fr</a>
                </p>

                <h5 class="font-weight-bold mt-4">
                    Directeur de la publication
                </h5>

                <p>
                    Titouan Galopin (Cité Politique : <a href="https://citepolitique.fr">citepolitique.fr</a>)
                    <br />
                    Contact : <a href="mailto:titouan.galopin@citepolitique.fr">titouan.galopin@citepolitique.fr</a>
                </p>

                <h5 class="font-weight-bold mt-4">
                    Hébergeur
                </h5>

                <p>
                    So you Start<br />
                    OVH SAS au capital de 10 069 020 €<br />
                    RCS Roubaix – Tourcoing 424 761 419 00045<br />
                    Siège social : 2 rue Kellermann - 59100 Roubaix - France.<br />
                    Téléphone : 09 72 10 01 11
                </p>
            </div>
        </div>
    </div>
{% endblock %}
