{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                Liens vers les informations officielles des autorités sanitaires
            </h3>

            <div class="process-details">
                <ul>
                    <li class="mb-3">
                        <strong>
                            Informations Coronavirus du Gouvernement
                        </strong>
                        <br />
                        <a href="https://www.gouvernement.fr/info-coronavirus" target="_blank">
                            https://www.gouvernement.fr/info-coronavirus
                        </a>
                    </li>

                    <li class="mb-3">
                        <strong>
                            Mesures pour les livraisons à domicile
                        </strong>
                        <br />
                        <a href="https://www.economie.gouv.fr/coronavirus-guide-des-precautions-sanitaires-livraison-repas" target="_blank">
                            https://www.economie.gouv.fr/coronavirus-guide-des-precautions-sanitaires-livraison-repas
                        </a>
                    </li>

                    <li class="mb-3">
                        <strong>
                            Mesures pour les associations
                        </strong>
                        <br />
                        <a href="https://associations.gouv.fr/les-aides-et-appuis-exceptionnels-aux-entreprises-accessibles-aux-associations-employeuses-et-a-leurs-salaries.html " target="_blank">
                            https://associations.gouv.fr/les-aides-et-appuis-exceptionnels-aux-entreprises-accessibles-aux-associations-employeuses-et-a-leurs-salaries.html
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
