{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                Politique de Protection des données
            </h3>

            <div class="process-details">
                <p>
                    Le Responsable de Traitement de enpremiereligne.fr est Titouan Galopin
                    (<a href="mailto:titouan@enpremiereligne.fr">titouan@enpremiereligne.fr</a>).
                </p>

                <p>
                    En accord avec le Règlement Général sur la Protection des Données, enpremiereligne.fr
                    collecte des données uniquement à des fins de mise en relation de personnes à visée
                    d'entraide.
                </p>

                <p>
                    Les données collectées par enpremiereligne.fr sont uniquement celles renseignées par les
                    utilisateurs du site internet enpremiereligne.fr. Aucune autre donnée personnelle n'est
                    collectée, notamment grâce à l'utilisation
                    <a href="https://usefathom.com/data">d'une technologie anonyme et sans cookie de mesure d'usage</a>.
                </p>

                <p>
                    Les données collectées dans le cadre du traitement de mise en relation de personnes à
                    des visées d'entraidre sont utilisées uniquement pour cet objectif. Elles sont supprimées
                    automatiquement 1 mois après la mise en relation, ou sur simple demande à
                    <a href="mailto:titouan@enpremiereligne.fr">titouan@enpremiereligne.fr</a>.
                </p>

                <p>
                    Les données collectées correspondent à des données à caractères personnelles mais ne sont
                    pas des données particulières dites à caractère sensible de par la nature de la collecte
                    (anonymisation des informations partout où cela est possible, utilisation d'intervalles
                    d'âges, mise en relation simple par e-mail, ...).
                </p>

                <p>
                    Vous disposez d'un droit d'accès, de rectification, d'effacement et de portabilité
                    de vos données ainsi que d'un droit d'opposition et d'un droit de limitation du
                    traitement des données vous concernant. Vous pouvez exercer vos droits en nous
                    contactant à l'adresse suivante : <a href="mailto:titouan@enpremiereligne.fr">titouan@enpremiereligne.fr</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
