{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
    Terms of use
</h3>

<div class="process-details">
    <h4 class="font-weight-bold">
        Definitions
    </h4>

    <p>
        The terms used have the following definition :
    </p>

    <ul>
        <li>the Site : is the website accessible at the URL containing this policy ;
        </li>
        <li>the Publisher : is the organisation responsible for the Site, as defined in the Legal section of the Site ;
        </li>
        <li>
            Visitor : is every person which browses and uses the Site ;
        </li>
        <li>
            « Terms of Use » or "ToU" : describe this policy, and include the Data Protection Policy of the Site.
        </li>
    </ul>

    <h4 class="font-weight-bold mt-4">
        Article 1. Purpose</h4>

    <p>These ToU define the access and usage rules for the Site and the services provided by the Site, as well as the rights and responsabilities applicable to every Site Visitor. The ToU can be accessed read freely by any person browsing or using the Site.</p>

    <p>
        </p><p>The complete ToU must be accepted without any reservation by every person wanting to access, browse, and use the Site. They constitute the contract between the Publisher and the Site Visitor.</p><p><span style="font-size: 1rem;">It is recommended that the visitors read the ToU regularly.</span><br></p>

    <h4 class="font-weight-bold mt-4">
        Article 2. Description of the services provided</h4>

    <p>The purpose of the Site is to connect people for mutual assistance reasons.</p>

    <h4 class="font-weight-bold mt-4">
        Article 3. Access to the service</h4>

    <p>
        </p><p>The Site is normally available for use. An interruption can be decided by the Publisher for technical maintenance for instance. The Publisher will endeavor to previously communicate the intervention date and time.</p><p><span style="font-size: 1rem;">To access the Site, the Visitor must have </span>hardware<span style="font-size: 1rem;">&nbsp;without any virus, </span>Trojan<span style="font-size: 1rem;">&nbsp;horse, logical bomb, worm or any other </span>undesirable<span style="font-size: 1rem;">&nbsp;program that could disrupt the operation and the use and browsing of the Site.</span><br></p>

    <p>The Visitor commits to regularly updating their hardware, software and connection necessary to the normal operation of the Site.</p>

    <h4 class="font-weight-bold mt-4">
        Article 4. Liability</h4>

    <p>The Publisher will endeavor to provide information that is as precise as possible on the Site. It cannot, however, be liable for any omissions, inaccuracies, or deficiencies in the update, be they due to them or to third parties providing the information.</p><p>All information on the Site is provided indicatively, and is subject to evolution. Information on the Site is not exhaustive. the Publisher cannot be liable for updates of the information since it was first put online.</p>

    <p><span style="font-size: 1rem;">The Publisher is a third party to the correspondence and relationship between the Help Seeker and the Volunteers, and excludes any liability in those.</span></p><p><span style="font-size: 1rem;">The Publisher is not liable for consequences related to the connection between the Help Seekers and the Volunteers, and does not provide any guarantee or warranty regarding this.&nbsp;</span><br></p>

    <p>
        </p><p>Persons that are connected via the Site are responsible for the relationship, correspondence, discussions and mutual help between themselves, and for their consequences.</p><p>The Publisher do not undertake to monitor or verify the identity or character of any Help Seeker or Volunteer, or the qualifications, experience or skill level of, or any information or advice provided by any Volunteer.</p><p>Use of the Site by any Help Seeker to ask for Help, or by any Volunteer to offer Help, does not constitute an endorsement or recommendation by the Publisher of the Help seeker or Volunteer.</p><p>The Publisher is not liable for any failure by any Site user (including any Help Seeker or Volunteer) to comply with these ToU or any other legal obligation. Any interaction between Site users (including any Help Seeker or Volunteer), including any dispute that may arise between them, is a matter directly between them and them only.<br></p>

    <h4 class="font-weight-bold mt-4">
        Article 5. Disclaimers&nbsp;</h4>

    <p>
        </p><p>The Publisher is not liable for any direct or indirect damage damage caused to any equipment during access to the Site. Any warranty is excluded in case of damage.</p><p><span style="font-size: 1rem;">Insofar interactive spaces could be provided to the users, the Publisher has the right to delete, without warning, any content input in those spaces that would be </span>against the laws of New Zealand, in particular relative to data protection. In this case the Publisher has the right to render the user liable, in particular in the case of offensive, racist , defamatory, pornographic content, whichever be the support used (text, photography, video, ...).</p><p>Links on the Site may lead to other websites, and some information on the Site may be provided by third parties. The Publisher accepts no responsibility for the currency or accuracy of such information.<br></p><p><span style="font-size: 1.5rem; font-weight: 700;">Article 6. Intellectual property and counterfeit</span><br></p>

    <p>
        </p><p>The Publisher owns the intellectual property rights or owns the rights of use on all elements accessible on the Site.</p><p>Reproduction, representation, modification, publication, adaptation of any or all elements of the Site, whichever be the means or process used, is forbidden, except if a written authorization was provided by the Publisher.</p><p>Any non authorized use of the Site or of any of the elements of the Site will be considered a counterfeit and legal action will be taken according to New Zealand law, and according to intellectual property rights.</p>

    <h4 class="font-weight-bold mt-4">
        Article 7. Nullity</h4>

    <p>
        </p><p>If one or more clauses of these ToU was declared null or invalid as per a law, a ruling or following a competent authority definitive decision, then all other articles/clauses will retain their validity.</p><p><span style="font-size: 1.5rem; font-weight: 700;">Article 8. Modification of the ToU</span><br></p>

    <p>
        </p><p>The Publisher has the right to make any change, amendment, correction to these ToU. The new ToU will supersede all previous versions of the ToU.</p>

    <h4 class="font-weight-bold mt-4">
        Article 8. Duration</h4>

    <p>
        </p><p>The ToU apply from the first connection to the Site, and during the use of the Site. The duration of the ToU is undetermined.</p>

    <h4 class="font-weight-bold mt-4">
        Article 9. Applicable law</h4>

    <p>
        </p><p>These ToU are governed by the laws of New Zealand. The English version is the only that can be relied upon. Translations of these ToU are only provided for convenience.</p><p><span style="font-size: 1rem;">Any dispute that would result from the use of the Site, or the application and interpretation of these ToU, its consequences and its developments shall be governed by New Zealand law, or the authority of New Zealand jurisdiction.</span><br></p>
</div>
            
            
            
        </div>
    </div>
{% endblock %}
