{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">How does it work?</h3>

<div class="process-details">
    <p>You will fill in a form, which is different depending on whether you can offer help, or if you need help/are registering someone who does.</p><p>You will enter your postcode, and describe the service needed or proposed.&nbsp;</p><p>You will then be connected on the basis of your postcode and the criteria entered, with an email sent to both of you.</p>

    <p>From then on it is all up to you!</p>

    <p>You will get in touch with the other person, over the phone to start with, and if you decide to help each other, then you will confirm that you do not need the platform's services anymore in the email you received. Your personal data will then automatically be erased. If you forget to tell us, your data will be erased at the end of the crisis anyway.</p><p>We ask you to follow all the government's advice during the entirety of your mutual help relationship. This advice can be found on the dedicated government platform:&nbsp;<a href="https://covid19.govt.nz/help-and-advice/" target="_blank">covid19.govt.nz</a>.</p>

    <p>We restrict the enrolment of people offering help to the age range of 18-60 yo, but each person should ensure they meet all the conditions necessary to help others safely.</p>

    <p><span style="font-size: 1.25rem; font-weight: 700;">Who can help?</span><br></p>

    <p>Everyone can help (if you are between 18 and 60 years old, are healthy, and do not identify as a vulnerable person:&nbsp;<a href="https://covid19.govt.nz/help-and-advice/for-everyone/vulnerable-people/" target="_blank">check if you are a vulnerable person</a>)!
    </p>

    <p>
        </p><p>If you want to help in the fight to stop the spread, you can enrol!</p><p><span style="font-size: 1.25rem; font-weight: 700;">Who can receive help?</span><br></p>

    <p>
        </p><p>We offer our service to two groups:</p><ul><li class="mb-3"><strong>Vulnerable persons</strong>: they are persons who are particularly vulnerable to the Covid-19 virus, and who have difficulties to get their groceries, or prescription drugs because they are advised to stay at home;
        </li>
        <li>
            <strong>Essential workers</strong>: they are all the persons who keep working so that we are safe.</li>
    </ul>

    <p><span style="font-size: 1.25rem; font-weight: 700;">How to help?</span><br></p>

    <p>
        </p><p>As soon as you start your mutual help relationship, it is very important to follow the government's advice on how to keep everyone safe:</p><ul><li class="mb-3"><span style="font-weight: bolder;">If you are dropping off groceries</span>:&nbsp;<a href="https://covid19.govt.nz/help-and-advice/for-everyone/shopping-safely/" target="_blank" style="background-color: rgb(255, 255, 255);">shop safely as per these guidelines</a>, make sure to drop the groceries off at the door and to keep 2m away from the receiver, avoid cash exchange if possible;</li><li class="mb-3"><span style="font-weight: bolder;">If you are caring for children</span>: you need to understand that you become an extension of each other's self-isolating household group. This group must remain the same for the lockdown period. You should not care for children from other households/families, and if a child or yourself become unwell then that person must stay at home and advise the others.</li></ul><p>All precautions should be observed during the mutual help relationship:</p><ul><li>Wash your hands on a regular basis for at least 20 seconds;</li><li>Cover coughs or sneezes with disposable tissues or clothing;</li><li>Stay 2m away from others.</li></ul><p><span style="font-size: 1.25rem; font-weight: 700;">What does it cost ?</span><br></p>

    <p>
        This mutual help platform is completely free. We will stop the spread by working together!</p>
</div>
        </div>
    </div>
{% endblock %}
