{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
    Data privacy policy</h3>

<div class="process-details">
    <p>
        The person responsible for the processing of data is XXXX&nbsp; &nbsp; &nbsp; &nbsp; (<a href="mailto:titouan@enpremiereligne.fr">titouan@enpremiereligne.fr</a>).
    </p>

    <p>
        thecommunitywave.nz only collects data with the purpose of connecting people for mutual assistance reasons.&nbsp;</p>

    <p>
        </p><p>The data collected by thecommunitywave.nz is only the data entered by the users of the Site thecommunitywave.nz. No other data is being collected, thanks to <a href="https://usefathom.com/data" target="_blank">a cookie free and anonymous technology</a> in particular.</p><p><span style="font-size: 1rem;">Data collected in the frame of the process of </span>connecting<span style="font-size: 1rem;">&nbsp;people for mutual assistance reasons will be used only for that purpose. The data will be erased automatically 1 month after the persons have been connected, or following request to XXXX.</span></p><p><span style="font-size: 1rem;">The data collected is </span>personal<span style="font-size: 1rem;">&nbsp;data but does not include sensitive data, as per the nature of the data collection (anonymous wherever possible, use of age ranges, connection via a simple email, ...).</span></p><p><span style="font-size: 1rem;">The users have the right to access, rectify, erase their data, and have portability rights, and rights to oppose and limit the processing of their data.</span></p><p><span style="font-size: 1rem;">The users can exercise their rights by writing to XXX.</span></p>
</div>
            
            
        </div>
    </div>
{% endblock %}
