{% extends 'page_base.html.twig' %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            
                
                <h3 class="text-center font-weight-bold mb-4">
    Why we launched thecommunitywave.nz ?
</h3>

<div class="process-details">
    <p>
        </p><p>For the coming weeks, New Zealand will be uniting to stop the spread of Covid19.<span style="font-size: 1rem;">&nbsp;</span></p><p><span style="font-size: 1rem;">Most people will stay at home, while others will keep working hard so that we are all safe during this difficult period. They are the health workers, the shop keepers, the cashiers, the emergency services, the waste collectors and so many others.</span></p><p><span style="font-size: 1rem;">Some persons, due to their physical condition, age, or because they are pregnant are advised to not leave home at all, if possible.</span></p><p>These efforts are being made so that we all can go back to normal lives soon.</p><p>The lockdown situation is difficult for everyone, but is particularly straining for these persons. So we thought we could try and help them in return, so that they can get access to food easily, or so that they do not have to care about how their children are looked after while they are at work.</p><p>This platform is free, open-source, does not store your personal data, and only aims at setting up an easy and safe mutual assistance service during the Covid19 crisis.</p><p>This platform was born from an international initiative of like minded individuals who have their communities at heart.</p>

    <p><span style="font-size: 1rem;">We are not a company, but volunteers who want to assist the community during this period. When we have won together, and the Alert Level is back at Alert Level 1, this website will disappear.</span></p><p><span style="font-size: 1rem;">Until then, count on us !</span></p>

    <a href="{{ path('content_how') }}">Learn more about the platform and how it operates</a></div>
            
            
        </div>
    </div>
{% endblock %}
