@import './_variables.scss';

html, body.full-height {
    height: 100%;
}

blockquote {
    font-size: 18px;

    cite {
        font-style: italic;
    }

    &::before {
        content: '“';
        font-family: "Times New Roman", Times, serif;;
        font-size: 48px;
        margin-top: -25px;
        float: left;
    }

    div {
        margin-left: 50px;
    }
}

.body-page {
    background: #e3e8ee;
}

.form-group {
    margin-bottom: 0 !important;
}

.lift {
    transition: transform .25s ease;

    &:focus, &:hover {
        transform: translate3d(0, -3px, 0);
    }
}

.legalities, .legalities a, .legalities a:hover {
    font-size: 12px;
    color: #999;
    line-height: 13px;
}

.home {
    &-header {
        text-align: center;

        &-logo {
            height: 60px;
            max-width: 100%;
        }

        &-share {
            font-size: 14px;
            color: #666;
            text-transform: uppercase;

            a {
                padding: 10px;
                margin: 0 5px;
                color: #666;

                &:hover {
                    color: #000;
                    text-decoration: none;
                }
            }

            svg {
                height: 18px;
            }
        }
    }

    &-footer {
        text-align: center;
        background: $secondary;
        color: #e5e5e5;

        a {
            color: #e5e5e5;
            margin: 0 10px;
            font-size: 13px;

            &:hover {
                color: #fff;
            }
        }

        &-social a:hover {
            text-decoration: none;
        }

        svg {
            height: 24px;
        }
    }

    &-row {
        display: flex;

        @media (max-width: 992px) {
            flex-direction: column;
            min-height: 950px;
        }

        @media (max-width: 400px) {
            min-height: 1400px;
        }

        &-half {
            flex-basis: 0;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-button {
                font-size: 32px;
                font-weight: 900;
                display: flex;

                @media (min-width: 992px) {
                    margin-left: -38px !important;
                }

                &-icon {
                    flex-basis: 0;
                    min-width: 24px;
                    width: 24px;
                    margin-right: 14px;

                    svg {
                        width: 24px;
                    }
                }

                &-label {
                    margin-top: 2px;
                }
            }

            &-details {
                font-size: 18px;
                font-weight: normal;
            }
        }
    }

    &-ecosystem {
        background: #f5f5f5;

        &-feedbacks {
            h5 {
                font-size: 32px;
                font-weight: 900;
                color: #444;
                text-align: center;
            }

            a {
                color: $primary;
                text-decoration: none;

                &:hover {
                    color: $primary;
                    text-decoration: none;
                    border-bottom: 1px solid $primary;
                }
            }
        }

        &-assos, &-medias {
            text-align: center;

            &-title {
                font-size: 32px;
                font-weight: 900;
                color: #444;
            }

            img {
                opacity: 0.7;
                margin: 30px;
            }

            a:hover {
                text-decoration: none;

                img {
                    opacity: 1;
                }
            }
        }

        &-assos img {
            max-height: 75px;
        }

        &-medias img {
            max-height: 38px;
        }
    }
}

.process {
    &-logo {
        height: 40px;
        max-width: 100%;
    }

    &-box {
        box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.12), 0 3px 6px 0 rgba(0,0,0, 0.12);
        border-radius: 4px;
        background: #fff;
        display: block;

        &-title {
            margin: 0;
            font-size: $font-size-base * 1.5;
            padding: 1rem;
            border-bottom: 1px solid #e5e5e5;
        }
    }

    &-block {
        border: 1px solid #d7d7d7;
    }

    &-share {
        a {
            display: inline-block;
            color: #666;
            padding: 5px;
            margin: 0 5px;

            &:hover {
                color: #000;
            }
        }

        svg {
            height: 28px;
        }
    }

    &-needs {
        svg {
            height: 18px;
        }

        &-disabled {
            opacity: 0.3;
        }

        &-button {
            cursor: pointer;
            padding: 20px;
            border-radius: 4px;
        }

        &-checkbox {
            flex-basis: 0;
            width: 18px;
            min-width: 18px;
            margin-right: 10px;
        }
    }
}
