@import './variables';

/*
 * Bootstrap
 */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/print';

@import '~bootstrap/scss/type';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/alert';

@import '~bootstrap/scss/utilities/align';
@import '~bootstrap/scss/utilities/borders';
@import '~bootstrap/scss/utilities/background';
@import '~bootstrap/scss/utilities/clearfix';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/flex';
@import '~bootstrap/scss/utilities/float';
@import '~bootstrap/scss/utilities/screenreaders';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/utilities/text';

/*
 * Symfony Forms
 */
.form-error-icon {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/*
 * Theme
 */

body {
    -webkit-font-smoothing: antialiased;
}

.lift {
    transition: transform .25s ease;

    &:focus, &:hover {
        transform: translate3d(0, -3px, 0);
    }
}
