<ul>
    <li>
        {% trans %}email.prepare-menu{% endtrans %}
    </li>
    <li>
        {% trans %}email.make-list{% endtrans %}
    </li>
    <li>
        {% trans %}email.price-range{% endtrans %}
    </li>
</ul>
