<li>
    {% trans %}email.for-volunteers{% endtrans %}

    <ul>
        <li>
            {% trans %}email.use-contactless{% endtrans %}
        </li>
        <li>
            {% trans %}email.repayment{% endtrans %}
        </li>
        <li>
            {% trans %}email.contactless-delivery{% endtrans %}

            <ul>
                <li>
                    {% trans %}email.apply-barriers{% endtrans %}
                </li>
                <li>
                    {% trans %}email.shop-and-bag{% endtrans %}
                </li>
                <li>
                    {% trans %}email.deliver-and-advise{% endtrans %}
                </li>
                <li>
                    {% trans %}email.move-away{% endtrans %}
                </li>
            </ul>
            {% trans %}email.online-details{% endtrans %}
        </li>
    </ul>
</li>
