<p>
    {% trans %}email.share-link{% endtrans %}
</p>

<p>
    {% trans %}site.url{% endtrans %}
</p>

<p>
    {% trans %}email.good-luck{% endtrans %}
</p>

<p>
    {% trans %}email.signoff{% endtrans %}
</p>

<p>
    {% trans %}email.site-helped{% endtrans %}
</p>