<p>
    {% trans with {'requester': requester.firstName|capitalize, 'helper':helper.firstName|capitalize } %}email.greeting-match{% endtrans %}
</p>

<p>
    {% trans %}email.good-news{% endtrans %}
</p>

<p>
    {% trans with {'zipcode': requester.zipCode } %}email.postcode-match{% endtrans %}
    {% trans with {'requester': requester.firstName|capitalize, 'helper': helper.firstName|capitalize, 'zipcode': requester.zipCode } %}email.groceries{% endtrans %}
</p>

<p>
    {% trans with {'requester': requester.firstName|capitalize } %}email.at-risk{% endtrans %}
</p>

<p>
    {% trans %}email.up-to-you{% endtrans %}
</p>

<p>
    {% trans %}email.both-copied{% endtrans %}
</p>

{% include 'emails/match_guidelines.html.twig' %}

<p>
    {% trans %}email.avoid-contact{% endtrans %}
</p>

<ul>
    {% include 'emails/groceries-guidelines-helper.html.twig' %}
    <li>
        {% trans %}email.needing-help{% endtrans %}
        {% include 'emails/groceries-guidelines-recipient.html.twig' %}
    </li>
</ul>

{% include 'emails/match-footer.html.twig' %}
