{% extends 'base.html.twig' %}

{% block body_class 'body-page' %}

{% block body %}
    <div class="container pt-5 pb-5">
        <div class="text-center mb-4">
            <h1 class="sr-only">
                {% trans %}site.name{% endtrans %}
            </h1>

            <a href="{{ path('homepage') }}">
                <img src="{{ asset('res/logo.svg') }}" class="process-logo" alt="{% trans %}site.name{% endtrans %}" />
            </a>

            <div class="mt-2">
                <a href="{{ path('homepage') }}">
                    <small>{% trans %}label.home{% endtrans %}</small>
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-11 col-lg-10 col-xl-9">
                {% block content '' %}
            </div>
        </div>
    </div>

    <div class="mt-5">
        {{ include('_include/footer.html.twig') }}
    </div>
{% endblock %}
