{% extends 'page_base.html.twig' %}

{% block metas %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                {% trans %}offer.my-offer{% endtrans %}
            </h3>

            <div class="process-details">
                <p>
                    {% trans %}offer.remove-confirm{% endtrans %}
                </p>

                <div class="text-center mt-4">
                    <a href="{{ path('process_helper_delete_do', {'uuid': helper.uuid, 'token': csrf_token('helper_delete')}) }}"
                       class="btn btn-danger">
                        {% trans %}label.yes-remove{% endtrans %}
                    </a>
                    <a href="{{ path('process_helper_view', {'uuid': helper.uuid}) }}"
                       class="btn btn-link">
                        {% trans %}label.no-return{% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
