{% extends 'page_base.html.twig' %}

{% block metas %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                Ma demande d'aide
            </h3>

            <div class="process-details">
                <p>
                    Voulez-vous vraiment supprimer votre demande et toutes les données
                    associées ? Cette opération est irréversible.
                </p>

                <div class="text-center mt-4">
                    <a href="{{ path('process_requester_delete_do', {'ownerUuid': ownerUuid, 'token': csrf_token('requester_delete')}) }}"
                       class="btn btn-danger">
                        Oui, supprimer
                    </a>
                    <a href="{{ path('process_requester_view', {'ownerUuid': ownerUuid}) }}"
                       class="btn btn-link">
                        Non, retour
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
