<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="origin" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />

    <title>Une erreur s'est produite</title>

    <style>
        html, body, .wrapper {
            height: 100%;
        }

        body {
            font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .message {
            text-align: center;
            padding: 20px;
        }

        h1 {
            color: #000;
            font-weight: 600;
            font-size: 34px;
        }

        p {
            color: #666;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="message">
        <h1>
            Une erreur s'est produite
        </h1>

        <p>
            Une erreur s'est produite. Nous avons été alerté du problème et
            allons faire notre possible pour le résoudre.
        </p>

        <p>
            <a href="/" class="btn btn-label-primary">
                Retour à l'accueil
            </a>
        </p>
    </div>
</div>
</body>
</html>
