<a href="https://www.facebook.com/CommunityWaveNZ"
   title="{% trans %}social.find-facebook{% endtrans %}" target="_blank" rel="noreferrer noopener">
    {{ include('_icons/facebook.html.twig') }}</a>
<a href="https://twitter.com/CommunityWaveNZ"
   title="{% trans %}social.find-twitter{% endtrans %}" target="_blank" rel="noreferrer noopener">
    {{ include('_icons/twitter.html.twig') }}</a>